*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(213, 225, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img{
    width: 92%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    margin-top: 0.6em;
    margin-bottom: 1.1em;
}
.intro, .info {
    margin: 0em 0.8em;
    font-family: 'Outfit';
}
.intro{
    font-size: 0.75rem;
    margin-bottom: 1em;
    color: rgb(31, 49, 79);
    line-height: 1.2;
}

.info{
    font-size: 0.57rem;
    padding-bottom: 2em;
    color: rgb(104, 119, 141);
    line-height: 1.4;
}

main{
    width: 17%;
    min-width: 10rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    text-align: center;
}